extends ../partials/layouts/main.pug

block content
    include ../partials/screens/menu-screen
    append variables
        - locals.header_bg = 'background-image: url(/assets/img/presse-bg.jpg);'
        - locals.quoteTitle = ''
        - locals.quoteText = ''
        - locals.isHeaderHeightAuto = true
    include ../partials/screens/quote-screen
    - const data = [{"date":"24.09.2019","media":"Süddeutsche Zeitung ","title":"\"Tuesdays for Taxes\": Dienstags-Demos für CO2-Steuer geplant","link":"https://www.sueddeutsche.de/politik/demonstrationen-berlin-tuesdays-for-taxes-dienstags-demos-fuer-co2-steuer-geplant-dpa.urn-newsml-dpa-com-20090101-190924-99-10167"},{"date":"24.09.2019","media":"Berliner Morgenpost","title":"\"Tuesdays for Taxes\": Dienstags-Demos für CO2-Steuer geplant","link":"https://www.morgenpost.de/berlin/article227182747/Tuesdays-for-Taxes-Dienstags-Demos-fuer-CO2-Steuer-geplant.html"},{"date":"24.09.2019","media":"Märkische Onlinezeitung","title":"Dienstags-Demos für CO2-Steuer geplant","link":"https://www.moz.de/artikel-ansicht/dg/0/1/1754979/"},{"date":"24.09.2019","media":"N-TV","title":"\"Tuesdays for Taxes\": Dienstags-Demos für CO2-Steuer geplant","link":"https://www.n-tv.de/regionales/berlin-und-brandenburg/Tuesdays-for-Taxes-Dienstags-Demos-fuer-CO2-Steuer-geplant-article21292295.html"},{"date":"24.09.2019","media":"t-online","title":"\"Tuesdays for Taxes\": Dienstags-Demos für CO2-Steuer geplant","link":"https://www.t-online.de/region/berlin/news/id_86505214/-tuesdays-for-taxes-dienstags-demos-fuer-co2-steuer-geplant.html"},{"date":"24.09.2019","media":"focus","title":"„Tuesdays for Taxes“:Dienstags-Demos für CO2-Steuer geplant","link":"https://www.focus.de/regional/berlin/demonstrationen-tuesdays-for-taxes-dienstags-demos-fuer-co2-steuer-geplant_id_11178077.html"},{"date":"24.09.2019","media":"Welt","title":"«Tuesdays for Taxes»: Dienstags-Demos für CO2-Steuer geplant","link":"https://www.welt.de/regionales/berlin/article200841164/Tuesdays-for-Taxes-Dienstags-Demos-fuer-CO2-Steuer-geplant.html"},{"date":"24.09.2019","media":"Lausitzer Rundschau","title":"Entfernt: Tuesdays for taxes Dienstags Demos für CO2-Steuer geplant","link":"https://www.lr-online.de/nachrichten/berlin/tuesdays-for-taxes-dienstags-demos-fuer-co2-steuer-geplant_aid-46048353"},{"date":"24.09.2019","media":"Berliner Zeitung","title":"„Tuesdays for Taxes”: Dienstags-Demos für CO2-Steuer geplant","link":"https://archiv.berliner-zeitung.de/berlin/-tuesdays-for-taxes---dienstags-demos-fuer-co2-steuer-geplant-33215694"},{"date":"24.09.2019","media":"RT Deutsch","title":"Wir wollen mehr Steuern! – von Fridays for Future zu Tuesdays for Taxes","link":"https://deutsch.rt.com/programme/der-fehlende-part/92647-wir-wollen-mehr-steuern-von/"},{"date":"24.09.2019","media":"Berliner Tageszeitung","title":"DIE WELT UND IHRE \"PROTESTE\": FRIDAYS FOR FUTURE ODER TUESDAYS FOR TAXES","link":"https://www.berlinertageszeitung.de/component/yendifvideoshare/video/3651-die-welt-und-ihre-quot-proteste-quot-fridays-for-future-oder-tuesdays-for-taxes.html"},{"date":"25.09.2019","media":"taz","title":"Die Dienstagsdemonstranten","link":"https://taz.de/Neue-Klimaschutzbewegung-gestartet/!5629967/"},{"date":"15.10.2019","media":"Radio Dreyeckland","title":"Tuesday for Taxes fordern klimafreundliche CO²-Besteuerung","link":"https://rdl.de/beitrag/tuesday-taxes-fordern-klimafreundliche-co-besteuerung"},{"date":"11.10.2019","media":"Tagesspiegel Background","title":"Portrait von Heinrich Strößenreuther","link":"https://background.tagesspiegel.de/energie-klima/heinrich-stroessenreuther"},{"date":"15.10.2019","media":"Radio Regenbogen","title":"Freiburg macht mit bei \"Tuesdays for Taxes\"","link":"https://www.regenbogen.de/kategorie-nachricht/subaden-schwarzwald/20191014/tuesdays-taxes-freiburg"},{"date":"15.10.2019","media":"Freie Radios Net","title":"“Germanzero statt schwarze Null”: Tuesday for Taxes fordern klimafreundliche CO²-Besteuerung","link":"https://www.freie-radios.net/97816"},{"date":"06.12.2019","media":"Deutschlandfunk Kultur","title":"\"GermanZero\" - Wie ein Bürgerrat das Klima retten will","link":"https://www.deutschlandfunkkultur.de/german-zero-wie-ein-buergerrat-das-klima-retten-will.1008.de.html?dram:article_id=465202"},{"date":"06.12.2019","media":"Süddeutsche Zeitung","title":"Das Klima: \"Angezählt\"","link":"https://www.sueddeutsche.de/politik/klimaschutz-angezaehlt-1.4713157"},{"date":"17.12.2019","media":"Spiegel Online","title":"Die Lage am Dienstag","link":"https://www.spiegel.de/politik/deutschland/news-groko-klimaschutz-gruene-boris-johnson-brexit-zalando-immobilien-cdu-a-1301549.html"},{"date":"17.12.2019","media":"Deutschlandfunk","title":"Bürgerinitiative legt alternatives Klimapaket vor","link":"https://www.deutschlandfunk.de/klimaschutz-buergerinitiative-legt-alternatives-klimapaket.697.de.mhtml?dram:article_id=466035&xtor=AD-251-%5B%5D-%5B%5D-%5B%5D-%5Bdlf-mobil%5D-%5B%5D-%5B%5D"},{"date":"17.12.2019","media":"Welt","title":"Verein will klimaneutrales Deutschland bis spätestens 2035","link":"https://www.welt.de/regionales/berlin/article204393276/Verein-will-klimaneutrales-Deutschland-bis-spaetestens-2035.html"},{"date":"17.12.2019","media":"Focus online","title":"Verein fordert klimaneutrales Deutschland bis spätestens 2035","link":"https://www.focus.de/finanzen/boerse/wirtschaftsticker/konjunktur-verein-fordert-klimaneutrales-deutschland-bis-spaetestens-2035_id_11469355.html"},{"date":"17.12.2019","media":"Berliner Morgenpost","title":"Verein will klimaneutrales Deutschland bis spätestens 2035","link":"https://www.morgenpost.de/berlin/article227936659/Verein-will-klimaneutrales-Deutschland-bis-spaetestens-2035.html"},{"date":"17.12.2019","media":"ARD","title":"Tagesschau 12:00 17.12.2019","link":"https://www.ardmediathek.de/ard/player/Y3JpZDovL2Rhc2Vyc3RlLmRlL3RhZ2Vzc2NoYXUvNWE5OWMyMTYtZTIzMy00ZDYwLWE0ZTUtZDMwZGM4OTdmMTMz/"},{"date":"17.12.2019","media":"B.Z.","title":"Verein fordert klimaneutrales Deutschland bis spätestens 2035","link":"https://www.bz-berlin.de/liveticker/verein-fordert-klimaneutrales-deutschland-bis-2035"},{"date":"17.12.2019","media":"Süddeutsche Zeitung","title":"Wer vom Klimapaket profitiert","link":"https://www.sueddeutsche.de/wirtschaft/klimapaket-kosten-buerger-nutzen-1.4726829"},{"date":"17.12.2019","media":"Flux fm","title":"Interview in der Morningshow am Nachmittag","link":"https://www.fluxfm.de/kat-frankie-german-zero-morningshow-am-nachmittag/"},{"date":"17.12.2019","media":"rbb ","title":"Ein Volksentscheid zur Klimarettung","link":"https://www.rbb-online.de/abendschau/videos/20191217_1930/klima.html"},{"date":"17.12.2019","media":"Berliner Morgenpost","title":"German Zero will Deutschland bis 2035 klimaneutral machen","link":"https://www.morgenpost.de/berlin/article227938005/German-Zero-legt-ersten-Klimaplan-vor.html"},{"date":"17.12.2019","media":"taz","title":"Im Turbogang gegen die Krise","link":"https://taz.de/NGO-will-Deutschland-klimaneutral-machen/!5646419/"},{"date":"17.12.2019","media":"Berliner Zeitung","title":"Heinrich Strößenreuther: Ungeduld hat einen Namen","link":"https://www.berliner-zeitung.de/mensch-metropole/klimaaktivist-heinrich-stroessenreuther-ungeduld-hat-einen-namen-li.3457"},{"date":"19.12.2019","media":"Warenwirtschaften (Newsletter)","title":"Klima: Wird nicht besser ","link":"https://www.warenwirtschaften.de/?na=v&nk=551-145055fda4c4966d1ccfd3f9b28f9620&id=127"},{"date":"19.12.2019","media":"Klimareporter","title":"Deutschland bis 2035 klimaneutral","link":"https://www.klimareporter.de/deutschland/germanzero-will-deutschland-klimaneutral-machen"},{"date":"21.12.2019","media":"Focus","title":"\"Einer muss ja den Anfang machen\"","link":"https://www.focus.de/politik/deutschland/naturschutz-eigennutz-windenergie_id_11483332.html"}];
    -
        data.sort((a, b) => {
        const dateA = a.date.split('.');
        const dateB = b.date.split('.');
        const d1 = new Date();
        const d2 = new Date();
        d1.setFullYear(dateA[2]);
        d1.setMonth(dateA[1]);
        d1.setDate(dateA[0]);

        d2.setFullYear(dateB[2]);
        d2.setMonth(dateB[1]);
        d2.setDate(dateB[0]);

        if (d1 > d2) {
        return -1;
        }
        if (d1 < d2) {
        return 1;
        }
        return 0;
        })
    div(class="container pt-6 pb-5 md:pt-9 md:pb-8")
        div(class="flex -mx-2 -lg:mx-3 justify-center")
            div(class="px-2 lg:px-3 w-10/12 md:w-8/12 content content--size-1 text-body text-block text-center")
                .title.title--size-h2.text-black.mb-2 GermanZero in den Medien
        div(class="flex -mx-2 -lg:mx-3 justify-center mt-4")
            div(class="px-2 lg:px-3 w-full")
                table.table
                    thead.table__head
                        tr.table__row
                            th.table__head-cell.title.title--size-h5.uppercase.table__head-cell--first datum
                            th.table__head-cell.title.title--size-h5.uppercase medium
                            th.table__head-cell.title.title--size-h5.uppercase titel
                    tbody.table__body
                        each item in data
                            tr.table__row.js-toggle-list
                                td.table__body-cell.table__body-cell--first(data-title="datum")= item.date
                                td.table__body-cell(data-title="medium")
                                    span(class="")
                                        span=item.media
                                td(class="table__body-cell hidden md:table-cell" data-title="titel")
                                    label.truncate.inline-block.max-w-full
                                        input(type="checkbox" class="truncate__input")
                                        if item.link
                                            a(href=`${item.link}` class="js-read-more truncate__content link link--invert text-primary table__body-content")=item.title + item.title + item.title
                                        else
                                            span(class="js-read-more truncate__content")=item.title
                                        .truncate__label-more(role="button") Weiterlesen
                                        .truncate__label-less(role="button") Zusammenbrechen
                                td(class="table__body-cell md:hidden" data-title="titel")
                                    div
                                        if item.link
                                            a(href=`${item.link}` class="inline-block link link--invert text-primary table__body-content")=item.title
                                        else
                                            span(class="inline-block")=item.title
    - locals.events_screen_bg = ''
    include ../partials/screens/events-screen
    include ../partials/screens/footer
