- locals.countries = [{"country":"Germany","code":"DE"}, {"country":"Austria","code":"AT"}, {"country":"Switzerland","code":"CH"}]
- locals.cities = [];

form.form.js-form.flex.flex-wrap.-mx-2.js-custom-machmit-form(
    name='machmit-form'
    action="https://api.germanzero.de/members"
    data-success-message="Vielen Dank für Ihre Unterstützung. Wir werden uns schnellstmöglich bei Ihnen melden."
    data-with-captcha
)
    input(name="token" type="hidden" value="" class="js-captcha")
    div(class="px-2 w-full sm:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                select(class="form__select w-full js-select-custom js-form-control" name="gender")
                    option(value="") Anrede
                    option(value="female") Frau
                    option(value="male") Herr
                    option(value="other") Sonstige
                span.form__error-message

    div(class="px-2 w-full sm:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                select(class="form__select w-full js-select-custom js-form-control" name="title")
                    option(value="") Titel
                    option(value="Dr.") Dr.
                    option(value="Dr. Dr.") Dr. Dr.
                    option(value="Prof.") Prof.
                    option(value="Prof. Dr.") Prof. Dr.
                    option(value="Prof. Dr. Dr.") Prof. Dr. Dr.
                span.form__error-message

    div(class="px-2 w-full sm:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="firstName" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Vorname *
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="lastName" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Name *
                span.form__error-message
    div(class="px-2 w-full md:w-6/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="streetAddress" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Straße *
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 md:w-3/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="houseNumber" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Hausnumer *
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 md:w-3/12 mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="postalCode" type="text" data-validation-rule='["PLZ", "required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder PLZ *
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 mb-4 sm:mb-6")
        div(class="form-control")
            label.relative.block
                select(class="form__select js-form-control js-select-custom" name="country" data-validation-rule='["required"]')
                    option(value="") Land *
                    each Country in locals.countries
                        option(value=Country.code)= Country.country
                span.form__error-message
    div(class="px-2 w-full sm:w-6/12 mb-4 sm:mb-6")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="city" type="text" data-validation-rule='["required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Stadt *
                span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="email" type="email" data-validation-rule='["email", "required"]' value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder E-Mail-Adresse *
                span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="phone" type="tel" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Mobilfunknummer
                span.form__error-message
    div(class="px-2 w-full mb-4")
        .title.title--size-h5 Wie ich GermanZero unterstützen kann:*
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control" name="assits" value="finanzstark" type="checkbox")
                span.form__checkbox-placeholder Finanzstark
                span.form__error-message
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control" name="assits" value="reichweitenstark" type="checkbox")
                span.form__checkbox-placeholder Reichweitenstark
                span.form__error-message
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control js-show-sphere" name="assits" value="tatkräftig" type="checkbox")
                span.form__checkbox-placeholder Tatkräftig
                span.form__error-message
    div(class="px-2 w-full mb-4 js-sphere-radios hidden")
        .title.title--size-h4.mb-1 In welchem Bereich möchtest du GermanZero unterstützen?
        - sphereOptions = [{title: 'IT', value: 'it'}, {title: 'GermanZeroTeam in meinem Ort', value: 'local-team'}, {title: 'Organisationsaufbau', value: 'organisation'}, {title: 'Texte / Werbung / Medien', value: 'text-ads-media'}, {title: 'Inhaltlich / Wissenschaftlich', value: 'scientific'}, {title: 'Kooperationen', value: 'cooperation'}, {title: 'Fundraising', value: 'fundraising'}, {title: 'Sonstiges', value: 'custom'}]
        //- sphereOptionChecked = 'it'  js-show-custom-field
        each field in sphereOptions
            div(class="form-control")
                label.relative.form__checkbox
                    input(class="js-form-control js-show-custom-field" name="sphere" value=field.value type="checkbox" checked=sphereOptionChecked === field.value)
                    span.form__checkbox-placeholder= field.title
                    span.form__error-message
        div(class="form-control mt-2 hidden js-custom-sphere")
            label.relative.block
                input(class="form__input js-form-control" name="custom_sphere" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Sonstiges
                span.form__error-message
    div(class="px-2 w-full mb-4 js-sphere-radios hidden")
        .title.title--size-h4.mb-1 Wieviel Zeit kannst du für GermanZero aufbringen?
        div(class="form-control")
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="5")
                span.form__radio-placeholder bis zu 5 Stunden / Woche
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="10" checked)
                span.form__radio-placeholder bis zu 10 Stunden / Woche
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="20")
                span.form__radio-placeholder bis zu 20 Stunden / Woche
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="30")
                span.form__radio-placeholder bis zu 30 Stunden / Woche
            label.relative.block.mb-1
                input(class="form__radio js-form-control" type="radio" name="time" value="40")
                span.form__radio-placeholder bis zu 40 Stunden / Woche
            span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="linkedin" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Linkedin-Link
                span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="xing" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Xing-Link
                span.form__error-message
    div(class="px-2 w-full mb-4")
        div(class="form-control")
            label.relative.block
                input(class="form__input js-form-control" name="instagram" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                span.form__control-placeholder Instagram-Link
                span.form__error-message
    //- div(class="px-2 w-full mb-4")
            div(class="form-control")
                label.relative.block
                    input(class="form__input js-form-control" name="supportType" type="text" value="" onkeyup="this.setAttribute('value', this.value);" )
                    span.form__control-placeholder Wie kannst Du uns am besten unterstützen?
                    span.form__error-message
    div(class="px-2 w-full mb-2")
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control" name="newsletter" type="checkbox" checked)
                span.form__checkbox-placeholder Ja, ich möchte den GermanZero-Newsletter bekommen.
                span.form__error-message
    div(class="px-2 w-full mb-2")
        div(class="form-control")
            label.relative.form__checkbox
                input(class="js-form-control" name="privacy" type="checkbox" checked data-validation-rule='["required"]')
                span.form__checkbox-placeholder
                    span Ja, ich habe die
                        a(href="/datenschutz").mx-1.underline.link Datenschutzbestimmungen
                    span gelesen. *
                span.form__error-message
    div(class="px-2 w-full mb-4")
        button.button.button--primary.js-form-submit(type="button")
            span Jetzt bei GermanZero mitmachen!
