extends ../partials/layouts/main.pug

block content
    append variables
        - locals.header_bg = 'url(/assets/img/presse-bg.jpg)'
        - locals.quoteTitle = ''
        - locals.quoteText = ''
        - locals.isHeaderHeightAuto = true
    include ../partials/screens/quote-screen
    - const data = [{"date":"21.12.2019", "media":"Klimareporter","title":"Ein Stundentakt bis ins letzte Dorf","link":"https://www.klimareporter.de/deutschland/ein-stundentakt-bis-ins-letzte-dorf"},{"date":"22.12.2019", "media":"King Kong Klima", "title":"Der klimafreundliche Rück- und Ausblick aus dem Ökodschungel","link":"https://www.kingkongklima.de/?fbclid=IwAR0HibDrVlAhee3Ye7gI2rrP0R879Sr0daLjmVlxRIKHKEfAL6_mdntHOvQ"},{"date":"22.12.2019", "media":"nerdcore", "title":"So wird Deutschland bis 2035 klimaneutral","link":"https://nerdcore.de/2019/12/22/klimalinks-22-12-2019-studie-ueber-green-new-deals-in-143-laendern-in-australien-fallen-kakadus-tot-von-den-baeumen-regenwald-kipppunkte-nahezu-erreicht/"},{"date":"07.01.2020", "media":"New York Post", "title":"Pressure group German Zero: Our share of the global ‘carbon budget’ is used up soon","link":"https://nypost.com/2020/01/07/rising-carbon-prices-led-to-drop-in-german-emissions-in-2019/"},{"date":"07.01.2020", "media":"seemoz Bodensee", "title":"Wie retten wir unsere Erde? - 44. Naturschutztage in Radolfzell suchen nach Lösungen","link":"https://www.seemoz.de/lokal_regional/wie-retten-wir-unsere-erde-44-naturschutztage-in-radolfzell-suchen-nach-loesungen/"},{"date":"10.01.2020", "media":"The Guardian", "title":"The good of the world depends on unhistoric acts'","link":"https://www.theguardian.com/world/2020/jan/10/the-good-of-the-world-partly-depends-on-unhistoric-acts"},{"date":"31.01.2020", "media":"Express", "title":"Klimaschutz – Bundesliga-Klubs sollen Kohle abdrücken","link":"https://www.express.de/sport/fussball/fuer-die-gesellschaft-ex-fc-boss-fordert--bundesliga-klubs-sollen-kohle-abdruecken-33831178"},{"date":"04.02.2020", "media":"Focus", "title":"77 Initiativen und Ideen für Klima und Umwelt","link":"https://www.focus.de/perspektiven/nachhaltigkeit/wissen-77-initiativen-und-ideen-fuer-klima-und-umwelt_id_11587669.html"},{"date":"11.02.2020", "media":"Tagesspiegel Background", "title":"Bürgerbeteiligung für mehr Klimaschutz","link":"https://background.tagesspiegel.de/energie-klima/buergerbeteiligung-fuer-mehr-klimaschutz"},{"date":"16.02.2020", "media":"radio Essen", "title":"Klimakonferenz in Essen: GermanZero - wie man CO2-Neutralität erreichen kann","link":"https://www.radioessen.de/artikel/klimakonferenz-in-essen-gemeinsam-fuer-den-stadtwandel-503934.html"},{"date":"17.02.2020", "media":"West Anzeiger", "title":"Startschuss für den Stadtwandel","link":"https://www.lokalkompass.de/essen-west/c-natur-garten/startschuss-fuer-den-stadtwandel_a1307919"}];
    -
        data.sort((a, b) => {
        const dateA = a.date.split('.');
        const dateB = b.date.split('.');
        const d1 = new Date();
        const d2 = new Date();
        d1.setFullYear(dateA[2]);
        d1.setMonth(dateA[1]);
        d1.setDate(dateA[0]);

        d2.setFullYear(dateB[2]);
        d2.setMonth(dateB[1]);
        d2.setDate(dateB[0]);

        if (d1 > d2) {
        return -1;
        }
        if (d1 < d2) {
        return 1;
        }
        return 0;
        })
    div(class="container pt-6 pb-5 md:pt-9 md:pb-8")
        div(class="flex -mx-2 -lg:mx-3 justify-center")
            div(class="px-2 lg:px-3 w-10/12 md:w-8/12 content content--size-1 text-body text-block text-center")
                .title.title--size-h2.text-black.mb-2 GermanZero in den Medien
        div(class="flex -mx-2 -lg:mx-3 justify-center mt-4")
            div(class="px-2 lg:px-3 w-full")
                table.table
                    thead.table__head
                        tr.table__row
                            th.table__head-cell.title.title--size-h5.uppercase.table__head-cell--first datum
                            th.table__head-cell.title.title--size-h5.uppercase medium
                            th.table__head-cell.title.title--size-h5.uppercase titel
                    tbody.table__body
                        each item in data
                            tr.table__row.js-toggle-list
                                td.table__body-cell.table__body-cell--first(data-title="datum")= item.date
                                td.table__body-cell(data-title="medium")
                                    span(class="")
                                        span=item.media
                                td(class="table__body-cell hidden md:table-cell" data-title="titel")
                                    label.truncate.inline-block.max-w-full
                                        input(type="checkbox" class="truncate__input")
                                        if item.link
                                            a(href=`${item.link}` class="js-read-more truncate__content link link--invert text-primary table__body-content")=item.title
                                        else
                                            span(class="js-read-more truncate__content")=item.title
                                        .truncate__label-more(role="button") Weiterlesen
                                        .truncate__label-less(role="button") Zusammenbrechen
                                td(class="table__body-cell md:hidden" data-title="titel")
                                    div
                                        if item.link
                                            a(href=`${item.link}` class="inline-block link link--invert text-primary table__body-content")=item.title
                                        else
                                            span(class="inline-block")=item.title
    - locals.events_screen_bg = ''
    include ../partials/screens/events-screen
    include ../partials/screens/footer
